#pineal_risk_warning-wrap{
    display: block;
    height: 30px;
    clear: both;
}
#pineal_risk_warning{
	position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background: #1F2C51;
    z-index: 10000;
}

#pineal_risk_warning_inner{
    font-size: 12px;
    text-align: center;
    color: #fff;
}
#pineal_risk_warning_inner a{
    color: #fabe2c;
}
@media only screen and (max-width: 992px){
#pineal_risk_warning_inner{
font-size: 10px;
    line-height: 12px;
    text-align: left;
}
}